/* App */
.App {
    max-width: 100%;
    padding: 0px;
}

/* font sizes */
h1 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

.body-lg {
    font-size: 18px;
}

.body-md {
    font-size: 16px;
}

.body-sm {
    font-size: 14px;
}

.caption {
    font-size: 12px;
}

/* background colors */
.charcoal-100 {
    background-color: #060606;
}

.charcoal-10 {
    background-color: #ececef;
}

.charcoal-5 {
    background-color: #f4f4f6;
}

.pure-white {
    background-color: #ffffff;
}

/* attack types */
.badge-custom {
  display: inline-block;
  padding: 0.25em 0.6em;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25;
  color: #fff;
  background-color: #6c757d;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  user-select: none;
  margin-right: 6px;
}

.grass {
    background-color: #9bcc50;
    color: #ffffff;
}

.poison {
    background-color: #b97fc9;
    color: #ffffff;
}

.fire {
    background-color: #fd7d24;
    color: #ffffff;
}

.water {
    background-color: #4592c4;
    color: #ffffff;
}

.flying {
    background-color: #3dc7ef;
    color: #ffffff;
}

.bug {
    background-color: #91a119;
    color: #ffffff;
}

.electric {
    background-color: #fac000;
    color: #ffffff;
}

.fairy {
    background-color: #ef70ef;
    color: #ffffff;
}

.psychic {
    background-color: #ef4179;
    color: #ffffff;
}

.fighting {
    background-color: #ff8000;
    color: #ffffff;
}

.rock {
    background-color: #afa981;
    color: #ffffff;
}

.ground {
    background-color: #915121;
    color: #ffffff;
}

.steel {
    background-color: #60a1b8;
    color: #ffffff;
}

.ice {
    background-color: #3dcef3;
    color: #ffffff;
}

.ghost {
    background-color: #704170;
    color: #ffffff;
}

.dragon {
    background-color: #5060e1;
    color: #ffffff;
}

/* header */
.navbar-brand {
    font-weight: 600;
}

.search-input {
    width: 100%;
    padding: 12px 12px 12px 12px;
    font-size: 16px;
    color: #666;
    border: 1.5px solid #a0a0a0;
    border-radius: 8px;
    outline: none;
    margin-bottom: 24px;
}

.search-input:focus {
  border-color: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.surpriseButton {
    width: 100%;
    padding: 12px 12px 12px 12px;
    font-size: 16px;
    color: #060606;
    border: 2px solid #060606;
    border-radius: 8px;
    outline: none;
    transition: all 0.2s ease;
    max-width: 150px;
    margin-bottom: 24px;
    font-weight: 600;
}

.surpriseButton:hover {
    background-color: #060606;
    color: #ffffff;
}

/* pokemon card */
.pokemonCol {
    padding: 8px 8px 8px 8px;
}

.pokemonCard {
    padding: 16px;
    border-radius: 12px;
}

.pokemonCard img {
    height: 220px;
    object-fit: contain;
    border-radius: 12px;
}

.pokemonId {
    color: #767676;
    margin-top: 12px;
    margin-bottom: 0px;
    font-weight: 800

}

.pokemonName {
    color: #060606;
    margin-top: 4px;
    text-transform: capitalize;
    font-weight: 800;
}